/* PrismJS 1.21.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+jsx+tsx+typescript&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

:root {
  --alloy-background: #292929;
  --alloy-background-darker-1: #242424;
  --alloy-selection: hsla(0, 0%, 46%, 0.5);
  --alloy-foreground: #F7F7F7;
  --alloy-foreground-muted: #757575;
  --alloy-foreground-darker-2: #9A9A9A;
  --alloy-red: #F95893;
  --alloy-magenta: #CCB3FF;
  --alloy-cyan: #95E0EE;
  --alloy-blue: #B3CFFF;
  --alloy-green: #B5E25A;
  --alloy-orange: #FCAC4F;
  --alloy-yellow: #E2E25A;
  --alloy-tan: #E5DE9F;
  --alloy-error: #F47676;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--alloy-foreground);
  background: none;
  text-shadow: none;
  font-family: "Cascadia Code PL", "Cascadia Code", Consolas, Monaco,
    "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--alloy-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

/* Selection */
code[class*="language-"]::selection,
pre[class*="language-"]::selection,
.token::selection {
  text-shadow: none;
  color: inherit;
  background-color: var(--alloy-selection);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--alloy-foreground-muted);
}

.token.punctuation {
  color: var(--alloy-foreground);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--alloy-red);
}

.token.tag .token.script {
  color: var(--alloy-foreground);
}

.token.boolean,
.token.number {
  color: var(--alloy-magenta);
}

.token.string,
.token.char {
  color: var(--alloy-tan);
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.class-name,
.token.function,
.token.inserted {
  color: var(--alloy-green);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--alloy-foreground);
}

.token.atrule,
.token.attr-value {
  color: var(--alloy-tan);
}

.token.keyword {
  color: var(--alloy-red);
}

.token.regex,
.token.important {
  color: var(--alloy-orange);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid var(--alloy-foreground-darker-2);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: var(--alloy-foreground-darker-2);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
