<div class="header shadow-bg"
    [ngClass]="isSticky ? 'header-visible' : 'header-hidden'">
    <div class="site-logo">
        <a href="#"
            (click)="scroll(null)">{{ title }}</a>
    </div>
    <div class="menu-bar waves-effect waves-light"
        (click)="toggleMenu($event)"><span class="fa fa-bars"></span></div>
</div>

<div class="main-nav hero-height"
    [ngClass]="showMenu ? 'active' : 'hidden'"
    (click)="stopPropagation($event)">
    <div class="menu-close waves-effect waves-light"
        (click)="closeMenu()"><span class="fa fa-times"></span></div>
    <ul>
        <li *ngFor="let item of menu">
            <ng-container *ngIf="isHomePage else routerLinkAnchorTpl">
                <a href="#{{ item.id }}" (click)="scroll(item.id)">{{ item.name }}</a>
            </ng-container>
            <ng-template #routerLinkAnchorTpl>
                <a [routerLink]="item.link" [fragment]="item.id" (click)="closeMenu()">{{ item.name }}</a>
            </ng-template>
        </li>
    </ul>
</div>
