<div class="header shadow-bg"
    [ngClass]="{'header-visible': isSticky, 'header-hidden': !isSticky}">
    <div class="site-logo">
        <a href="#"
            (click)="scroll(null)">{{ title }}</a>
    </div>
    <div class="menu-bar waves-effect waves-light"
        (click)="toggleMenu($event)"><span class="fa fa-bars"></span></div>
</div>

<div class="main-nav hero-height"
    [ngClass]="{'active': showMenu, 'hidden': !showMenu}"
    (click)="stopPropagation($event)">
    <div class="menu-close waves-effect waves-light"
        (click)="closeMenu()"><span class="fa fa-times"></span></div>
    <ul>
        <li *ngFor="let item of menu">
            <a *ngIf="isHomePage"
                href="#{{ item.id }}"
                (click)="scroll(item.id)">{{ item.name }}</a>
            <a *ngIf="!isHomePage"
                [routerLink]="item.link"
                [fragment]="item.id"
                (click)="closeMenu()">{{ item.name }}</a>
        </li>
    </ul>
</div>