
.related-post-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#post-content ::ng-deep img {
  cursor: pointer;
}

#post-content ::ng-deep img-comparison-slider > img {
  cursor: default;
}
