<section id="skill-section">
    <div class="container">
        <div class="row">
            <div *ngIf="title"
                class="col s12 section-title">
                <h2>{{ title }}</h2>
            </div>
            <div class="col s12">
                <div class="col s12 section-content skill-wrapper w-block shadow-bg pdt-50 pdr-40 pdb-50 pdl-40">

                    <!-- Progress bar Left -->
                    <div class="col l6 s12 skill-data">

                        <!-- Single Skill -->
                        <ng-container *ngFor="let skill of skills">
                            <ng-container *ngIf="skill.position === 'left' || !skill.position">
                                <div class="progress-bar-wrapper">
                                    <p class="progress-text">{{ skill.name }}<span>{{ skill.progress }}%</span>
                                    </p>
                                    <div class="progress-bar">
                                        <span class="wow slideInLeft animated"
                                            [ngStyle]="{'width': skill.progress + '%'}"></span>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <!--/ Single Skill -->

                    </div>
                    <!--/ Progress bar Left -->

                    <!-- Progress bar Right -->
                    <div class="col l6 s12 skill-data skill-data-alt">

                        <!-- Single Skill -->
                        <ng-container *ngFor="let skill of skills">
                            <ng-container *ngIf="skill.position === 'right'">
                                <div class="progress-bar-wrapper">
                                    <p class="progress-text">{{ skill.name }}<span>{{ skill.progress }}%</span>
                                    </p>
                                    <div class="progress-bar">
                                        <span class="wow slideInLeft animated"
                                            [ngStyle]="{'width': skill.progress + '%'}"></span>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <!--/ Single Skill -->

                    </div>
                    <!--/ Progress bar Right -->

                </div>
            </div>
        </div>
    </div>
</section>