<section id="about-section"
    class="about-section">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col s12 wow fadeInUp animated">
                    <div class="col s12 w-block shadow-bg pd-0">
                        <div class="col m5 s12 about-img al-center pd-50">
                            <div class="about-img-content image-bg shadow-bg layer"
                                data-depth="0.1"
                                [ngStyle]="{'background-image': 'url(' + image.path + ')'}"
                                (click)="nextImage()">
                            </div>
                            <div class="about-name">{{ author.name }}</div>
                            <div class="about-title">{{ author.job }}</div>
                        </div>
                        <div class="col m7 s12 about-data-wrapper pd-50">
                            <div class="about-desc pd-0">
                                <div class="about-section-title">About Me</div>
                                <div class="about-data">
                                    <p [innerHTML]="author.bio"></p>
                                    <div><span>Age</span>{{ author.age }}</div>
                                    <div><span>Location</span>{{ author.location }}</div>
                                    <div>
                                        <span>Email</span>
                                        <a href="mailto:{{ author.email }}">{{ author.email }}</a>
                                    </div>
                                    <div>
                                        <span>Website</span>
                                        <a [href]="author.website">{{ author.website }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-social col s12 pd-0">
                            <ng-container *ngFor="let social of socials">
                                <a *ngIf="social.link && social.link.length" class="waves-effect waves-light" [href]="social.link">
                                    <span class="fa fa-{{ social.icon }}"></span>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>