.backdrop,
.material-tooltip,
.header .menu-bar,
.main-nav .menu-close,
.header .search-open,
.main-nav a::after,
.about-more a,
.about-more a:hover,
.arrow-box,
.btn-circle,
.about-social,
.about-section-title::after,
.resume-download a,
.resume-download a:hover,
.service-title::after,
.progress-bar > span,
.timeline-title::after,
.filter li a::after,
.portfolio-intro-image a,
.portfolio-intro-image a:hover,
.portfolio-intro-detail a,
.portfolio-intro-detail a:hover,
.portfolio-more a,
.portfolio-more a:hover,
.portfolio-all a:hover span,
.blog-date,
.blog-data a::after,
.btn-custom,
.btn-custom:hover,
.blog-all a,
.blog-all a:hover,
.pagination a,
.pagination a:hover,
.pagination .dots,
.pagination .dots:hover,
.single-blog-taxonomy a::before,
.timeline-time,
.footer,
.back-to-top-wrapper a,
.back-to-top-wrapper a:hover,
.comment-form button,
.comment-form button:hover,
.single-blog-navigation a,
.single-blog-navigation a:hover,
.search-submit,
.error-section a,
.error-section a:hover,
.owl-theme .owl-controls .owl-page span{
	background-color: #337ab7 !important;
}

.btn-custom:hover,
.site-logo a,
.main-nav a.active-nav,
.main-nav a:hover,
.about-data a,
.about-data a:hover,
.timeline-desc a,
.timeline-desc a:hover,
.about-social a:hover,
.block-title,
.btn-circle:hover,
.blog-title a:hover,
.blog-data a,
.blog-all a:hover,
.service-icon,
.pagination .current,
.pagination .current:hover,
.about-name,
.timeline-badge > a,
.filter li a:hover,
.filter li a.active,
.reference-author,
.pricing-price,
.input-field input:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label,
#c-form-spinner,
.alert-title,
.single-blog-taxonomy-item,
.single-blog-taxonomy-item:hover,
.single-blog-taxonomy a,
.comment-data a:hover,
.comment-content p a,
.comment-content .reply a,
.comment-author cite a,
.comment-body > p a,
.comment-respond a,
.comment-meta a.comment-edit-link,
.related-post-author a,
.single-portfolio-demo-link a,
.single-portfolio-demo-link a:hover,
.single-sidebar a:hover,
.color-scheme-select-btn{
	color: #337ab7 !important;
}

blockquote,
.backdrop,
.preloader .spinner-layer,
.main-nav a.active-nav,
.main-nav a:hover,
.c-form-input:hover,
.c-form-input:focus,
body .color-scheme-select,
.color-scheme-select-btn{
	border-color: #337ab7 !important;
}

body .arrow-box::before,
.timeline-panel .timeline-time::before{
	border-left-color: #337ab7 !important;
}

.search-form .search-field:focus:not([readonly]),
.input-field input:focus:not([readonly]),
.input-field textarea:focus:not([readonly]){
	-webkit-box-shadow: 0 1px 0 0 #337ab7 !important;
	-moz-box-shadow: 0 1px 0 0 #337ab7 !important;
	box-shadow: 0 1px 0 0 #337ab7 !important;
}

.github-corner svg {
	fill: #337ab7 !important;
}
