<!-- Preloader -->
<div *ngIf="isLoading"
    [@fadeOutAnimation]
    class="preloader">
    <div class="preloader-inner">
        <div class="preloader-wrapper active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Preloader -->
<app-header [isHomePage]="isHomePage"></app-header>
<router-outlet (activate)="onRouteChange()"></router-outlet>
<app-footer></app-footer>