<section id="{{ id }}">
    <div class="container">
        <div class="row">
            <div class="col s12 section-title">
                <h2>{{ title }}</h2>
            </div>
            <div class="col s12">
                <div class="col s12 section-content pd-0">
                    <ul class="timeline">

                        <!-- Single Timeline Item -->
                        <li *ngFor="let item of items"
                            class="wow animated"
                            [ngClass]="item.position === 'right' ? 'timeline-inverted fadeInRight' : 'fadeInLeft'">
                            <div class="timeline-badge">
                                <a><i class="fa fa-circle"></i></a>
                            </div>
                            <div class="timeline-panel w-block shadow-bg pd-30">
                                <div class="timeline-tag">{{ item.tag }}</div>
                                <div class="timeline-title timeline-title-alt">{{ item.title }}</div>
                                <div class="timeline-desc"
                                    *ngIf="item.description">
                                    <ng-container *ngFor="let text of item.description">
                                        <p [innerHTML]="text"></p>
                                    </ng-container>
                                </div>
                                <div class="timeline-time">{{ item.period }}</div>
                            </div>
                        </li>
                        <!--/ Single Timeline Item -->

                        <li class="clearfix no-float"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>