<section *ngIf="post" class="single-blog-section">
    <div class="container">
        <div class="row">
            <div class="col l8 s12 single-blog-wrapper">
                <div class="col s12 w-block shadow-bg pd-0">
                    <div class="col s12 single-blog-thumbnail pd-0">
                        <img src="{{ post.image }}"
                            alt="{{ post.title }}" />
                    </div>
                    <div class="col s12 pd-50 pd-md-40 pd-sm-30">
                        <div class="single-blog-title">{{ post.title }}</div>
                        <div class="blog-data">
                            <div class="chip mgr-10">
                                <img src="{{ post.author.image }}"
                                    alt="Author">
                                {{ post.author.name }}
                            </div>
                            <div class="chip mgr-10">
                                <span class="fa fa-calendar mgr-5"></span>{{ post.date | date: 'fullDate' }}
                            </div>
                            <div class="chip">
                                <span class="fa fa-comments mgr-5"></span>
                                <span class="disqus-comment-count"
                                    attr.data-disqus-identifier="{{ post.disqusIdentifier }}">0 Comments</span>
                            </div>
                        </div>
                        <div class="single-blog-content">
                            <markdown [src]="post.content"></markdown>
                        </div>

                        <div class="single-blog-taxonomy">
                            <div *ngIf="post.tags"
                                class="single-blog-tags mgt-15">
                                <span class="single-blog-taxonomy-item fa fa-tags"></span>
                                <div>
                                    <a *ngFor="let tag of post.tags"
                                        routerLink="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="single-blog-navigation">
                            <a *ngIf="prevPost"
                                class="btn-custom waves-effect"
                                routerLink="/blog/post/{{ prevPost.slug }}"
                                rel="prev">Prev Post</a>
                            <a *ngIf="nextPost"
                                class="btn-custom waves-effect"
                                routerLink="/blog/post/{{ nextPost.slug }}"
                                rel="next">Next Post</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 w-block shadow-bg pd-50 pd-md-40 pd-sm-30 mgt-50">
                    <div class="single-blog-author">
                        <h4>About Author</h4>
                        <img src="{{ post.author.image }}" alt="">
                        <div class="author-data">
                            {{ post.author.name }}
                            <span>{{ post.author.email }}</span>
                        </div>
                        <p>{{ post.author.bio }}</p>
                    </div>
                </div>

                <div id="comment-section"
                    class="col s12 single-blog-comment comments-area w-block shadow-bg pd-50 pd-md-40 pd-sm-30 mgt-50">
                    <div class="comment-title"><span class="fa fa-comments"></span> Comments</div>
                    <disqus [identifier]="post.disqusIdentifier"></disqus>
                </div>
            </div>
            <div class="col l4 s12 sidebar-wrapper">
                <div class="col s12 single-sidebar w-block shadow-bg pdt-30 pdr-30 pdb-40 pdl-30">
                    <div class="sidebar-title">
                        Recent Posts
                    </div>
                    <div class="related-post-content">
                        <div *ngFor="let recentPost of recentPosts" class="related-post-single">
                            <div class="related-post-img image-bg" [ngStyle]="{'background': 'url(' + recentPost.image + ')', 'background-position': 'center top', 'background-repeat': 'no-repeat', 'background-size': 'cover'}"></div>
                            <div class="related-post-title">
                                <a routerLink="{{ recentPost.link }}">{{ recentPost.title }}</a>
                            </div>
                            <div class="related-post-author">
                                <div class="chip">
                                    <img src="{{ recentPost.author.image }}"
                                        alt="Author">
                                    {{ recentPost.author.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 single-sidebar w-block shadow-bg pd-30">
                    <div class="sidebar-content">
                        <div class="sidebar-title">Tags</div>
                    </div>
                    <ul>
                        <li *ngFor="let tag of post.tags">
                            <a routerLink="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>