<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col s12 back-to-top-wrapper">
                <a class="btn-circle waves-effect back-to-top tooltipped animatescroll-link wow zoomIn animated"
                    data-position="top"
                    data-delay="50"
                    data-tooltip="Go To Top"
                    (click)="scrollToTop()"
                    href="#">
                    <span class="fa fa-angle-up"></span>
                </a>
                <div class="copyright-text">
                    © All rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>